<!DOCTYPE html>
<html>
<head>
  <title>Welcome to app.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/gentil.css">
  <link href="images/brands/short.png" rel="icon" />

</head>
 <body>


<header>
   <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="logo">
        <a href="/home"><img src="images/logo2.png" alt="Gentils Orgonics (P).Ltd." name="Gentils Orgonics (P) Ltd"></a>
      </div>  
    </div>
   
    <div class="col-md-8 col-xs-12">
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul  class="nav navbar-nav navbar-right">
        <li class=""><a id="nav" href="/home">Home</a></li>
        <li><a id="nav1" href="/about-us">About Us</a></li>
         <li><a id="nav2" href="/our-products">Products</a></li>
         <li><a id="nav3" href="/technology">Technology</a></li>
        <li><a id="nav4" href="/quality"> Quality</a></li>
        <li><a id="nav5" href="/contact-us"> Contact Us</a></li>
      </ul>   
    </div>
  </div>
   
  </div>
  </div>

</header>

<!--///////////////////////////////////header//inn////////////////////////////// -->
<div class="inn-contact">
   <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="banner-inn">
          
           <h1></h1>
         </div>
        </div>
      </div>
   </div>
</div>
 
<div class="inn-products">
   <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="get-in">
          <h1>Get in touch</h1>
          <p>Get in touch, we're always standing by and eager to help you.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
         <div class="inn-contact-div div1">
           <i class="fa fa-envelope-o" aria-hidden="true"></i>
           <h3>Email:</h3>
           <a href="mailto:gentils@gmail.com">Gentilsorgonics@gmail.com</a>
         </div>
      </div>
       <div class="col-md-3">
         <div class="inn-contact-div div2">
           <i class="fa fa-mobile" aria-hidden="true"></i>
           <h3>Customer Care:</h3>
           <p>9494889934</p>
           <span>Mon-Sat 9am-6pm (GMT)</span>
         </div>
      </div>
       <div class="col-md-6">
         <div class="inn-contact-div div3">
           <i class="fa fa-map-o" aria-hidden="true"></i>
           <h3>Find us at:</h3>
           <p><b>Mfd.by:</b> Gentils Organics Pvt. Ltd.</br>
Flat No. 102, Sri Ram Nilayam, Sri Ram Nagar Colony,</br>
Kondapur Vill. Rangareddy Dist.</br>
</p>
<p><b>Mktd.by:</b> Gentils Organics Pvt. Ltd.</br>
D.No. 1-4-189, RTC Work Shop Road, Bhavanipuram,</br>
Vijayawada-520012. Krishna Dist. A.P.</p>
         </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="get-message">
          <h1>Send a Message</h1>
          <p>Get in touch, we're always standing by and eager to help you.</p>
        </div>
          <div class="col-md-8 text-center col-md-offset-2">
               <form id="enquire" name="enquire" class="form1" method="post" action="/thank-you">
              <div class="form-group">
                <label class="sr-only" for="name">Your name</label>
                <input id="name" name="gentil_name" type="text" class="form-control" placeholder="Your name">
              </div>
              <div class="form-group email">
                <label class="sr-only" for="email">Your email</label>
                <input id="email" type="email" name="gentil_email" class="form-control" placeholder="Your email">
              </div>
              <div class="form-group phone">
                <label class="sr-only" for="email">Your Phone</label>
                <input id="phone" type="phone" class="form-control" name="gentil_phone" placeholder="Your phone Number" >
              </div>
              <div class="form-group email">
                  <label class="sr-only" for="email">Your Message</label>
              <textarea id="message" class="form-control" rows="8" name="gentil_message" placeholder="Your message"></textarea>
            <button type="submit" class="cnt-button btn btn-block btn-primary">Send Message</button>
          </form>
          </div>
      </div>
    </div>



   </div>


   </div>
</div>


<div class="contact">
  <div class="container">
     <div class="col-md-12">
       <p>Get in touch, we're always standing by and eager to help you.</p>
       <a href="contact-us.php">Contact Us Now</a>
     </div>
  </div>
</div>



<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
        <div class="col-md-3">
          <div class="ft-logo">
          <img src="images/logo-ft.png" alt="Gentils Organics (P). LTD.">
        </div>
        </div>
				<div class="col-md-2">
          <ul class="quick_links">
          <li><a href="#"><span>Profile</span></a></li>
          <li><a href="about-us.php">About Us</a></li>
          <li><a href="our-products.php">Products</a></li>
          <li><a href="technology.php">Technology</a></li>
          <li><a href="quality.php">Quality</a></li>
          <li><a href="contact-us.php">Contact Us</a></li>            
          <!--<li><a href="#why">Why Us</a></li>
          <li><a href="#certi">Certificates</a></li>-->
        </ul>
					
				</div>
        <div class="col-md-5 quick_links">
          <div class="col-md-12">
            <div class="text-left">
            <span>Our Products</span>
          </div>
            <div class="col-md-3 paddinglft">
          <ul class="quick_links quick_links1">
         <!-- <li><a href="our-products.html"><span>Our Products</span></a></li>-->
          <li><a href="pro-aqua-astroplex-c.php">GENT - C</a></li>
          <li><a href="pro-aqua-Jetreen.php">Jetreen</a></li>
          <li><a href="pro-aqua-prolyn.php">LYNPRO - PS</a></li>
          <li><a href="pro-aqua-stay-min.php">STAY - MIN</a></li>           
          <li><a href="pro-aqua-neodin.php">NEO DON</a></li>
           <li><a href="pro-aqua-solmin.php">SOLMIN</a></li>
        </ul>
           </div>
            <div class="col-md-6 paddinglft">
            <ul class="quick_links quick_links1">
              <li><a href="pro-aqua-oxcee-tab.php">OXCEE TAB</a></li>         
              <li><a href="pro-aqua-prostin.php">PRO - STIN</a></li>   
              <li><a href="pro-aqua-strange-min.php">Strange Min</a></li>         
              <li><a href="pro-aqua-stranfix.php">STRANFIX GEL</a></li>
              <li><a href="pro-antilds.php">ANTIL-DS</a></li>
              <li><a href="aqua-products-calfyn.php">CALFYN</a></li>
            </ul>
            </div>
          </div>
        </div>
				<div class="col-md-2">
					<ul class="quick_links">
          <li><a href="newproducts.php"><span>New Products</span></a></li>
          <li><a href="#"><span>Media</span></a></li>
          <li><a href="#">Images</a></li>
          <!--<li><a href="#">Videos</a></li>-->
          
         
        </ul>
				</div>
			</div>

		</div>	
	</div>
</footer>
<div class="bottom-footer">
  <div class="container">
      <div class="col-md-6 text-left">
      </div>
      <div class="col-md-6 text-right">
      </div>
    </div>
  </div>  

 </body>
 
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</html>