<!DOCTYPE html>
<html>
<head>
  <title>Welcome to app.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/gentil.css">
  <link href="images/brands/short.png" rel="icon" />

</head>
 <body>


<header>
   <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="logo">
        <a href="/home"><img src="images/logo2.png" alt="Gentils Orgonics (P).Ltd." name="Gentils Orgonics (P) Ltd"></a>
      </div>  
    </div>
   
    <div class="col-md-8 col-xs-12">
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul  class="nav navbar-nav navbar-right">
        <li class=""><a id="nav" href="/home">Home</a></li>
        <li><a id="nav1" href="/about-us">About Us</a></li>
         <li><a id="nav2" href="/our-products">Products</a></li>
         <li><a id="nav3" href="/technology">Technology</a></li>
        <li><a id="nav4" href="/quality"> Quality</a></li>
        <li><a id="nav5" href="/contact-us"> Contact Us</a></li>
      </ul>   
    </div>
  </div>
   
  </div>
  </div>

</header>


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/slider/welcome.jpg" alt="Gentils Organics pvt ltd" style="width:100%;">
        <div class="carousel-caption">
          <!--<h1>Quality</h1>
          <h4>feed additives, premixes &amp;<br>health care products</h4>
          <a class="read-crs" href="#">Read More</a>-->
        </div>
      </div>

      <div class="item">
        <img src="images/slider/products.jpg" alt="Gentils Organics pvt ltd"  style="width:100%;">
        <div class="carousel-caption">
        <!--  <h1>Safe &amp; healthy </h1>
          <h4>Safe &amp; healthy for your Fishes</h4>
          <a class="read-crs" href="#">Read More</a>-->
        </div>
      </div>
    
      <div class="item">
        <img src="images/slider/safe.jpg" alt="Gentils Organics pvt ltd" style="width:100%;">
        <div class="carousel-caption">
        
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!--////////////////////////////////////////about us///////////////////////////////////-->
<!--<div class="about-us">
  <div class="container"> 
    <!--<div class="name text-center">
      <h1>About Us</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h1>Feed additives, premixes & 
health care products</h1>
<p>Gentils Organics (P). LTD. is strategically located in Hyderabad</p>
      </div>
      <div class="col-md-6 col-xs-12">
        
<div class="gentl-about text-center">
          <img src="images/q1.png" class="img-responsive">
        </div>
      </div>
    </div>  
  </div>
</div>-->

<!--////////////////////////////////////////about us2///////////////////////////////////-->
<div class="about-uss">
  <div class="container"> 
    <div class="name text-center">
      <h1>About Us</h1>
      <span>PASSION</span><span>PERSEVERANCE </span><span>PEOPLE </span>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12">
         <img src="images/fctry.png" alt="Gentils Organics (P). LTD." class="img-responsive">
      </div>
      <div class="col-md-9 col-xs-12">
        <p>With 20 years immense experience in aquaculture industry, Gentils Organics is a leading manufacturer of wide range of aquaculture products. Gentils has Prawn and Fish Feed Manufacturing Unit in kondapur, Hyderabad and marketing office in Bhavanipuram, Vijayawada, in India.</p>
<p>Gentils produces high quality feed, consistently catering to the Indian prawn and fish farmers. We pay utmost attention to the highest quality standards. We have a diverse group of talented people who discover, develop, manufacture and market Gentils products for use around the globe. We strive hard to keep our goodwill & to gain customer's confidence.</p>
        <a class="read" href="about-us.php">Read More</a>
         
      </div>
    </div>  
  </div>
</div>


<!--////////////////////////////////////////about us2///////////////////////////////////-->
<div class="Infrastructure">
  <div class="container"> 
   
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-12">
         <div class="rnd">
            <img src="images/r-d.jpg" alt="R&D" class="img-responsive">
            <h2>R & D</h2>
            <P>Our dedicated R&D team has been striving towards quality and innovation. Our researchers are the biggest asset of our organisation.</P>
            <a href="rnd.php">Read More</a>
         </div>
      </div>
       <div class="col-md-4 col-xs-12">
         <div class="infra">
           <img src="images/fctory.jpg" alt="R&D" class="img-responsive">
           <h2>Technology</h2>
           <P>Through our methodology, we hope to help others achieve increased sustainability by implementing certified methods throughout their value chain.
</P>
                       <a href="technology.php">Read More</a>
         </div>
      </div>
    </div>  
  </div>
</div>


<?php include("contct2.php"); ?>





<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
        <div class="col-md-3">
          <div class="ft-logo">
          <img src="images/logo-ft.png" alt="Gentils Organics (P). LTD.">
        </div>
        </div>
				<div class="col-md-2">
          <ul class="quick_links">
          <li><a href="#"><span>Profile</span></a></li>
          <li><a href="about-us.php">About Us</a></li>
          <li><a href="our-products.php">Products</a></li>
          <li><a href="technology.php">Technology</a></li>
          <li><a href="quality.php">Quality</a></li>
          <li><a href="contact-us.php">Contact Us</a></li>            
          <!--<li><a href="#why">Why Us</a></li>
          <li><a href="#certi">Certificates</a></li>-->
        </ul>
					
				</div>
        <div class="col-md-5 quick_links">
          <div class="col-md-12">
            <div class="text-left">
            <span>Our Products</span>
          </div>
            <div class="col-md-3 paddinglft">
          <ul class="quick_links quick_links1">
         <!-- <li><a href="our-products.html"><span>Our Products</span></a></li>-->
          <li><a href="pro-aqua-astroplex-c.php">GENT - C</a></li>
          <li><a href="pro-aqua-Jetreen.php">Jetreen</a></li>
          <li><a href="pro-aqua-prolyn.php">LYNPRO - PS</a></li>
          <li><a href="pro-aqua-stay-min.php">STAY - MIN</a></li>           
          <li><a href="pro-aqua-neodin.php">NEO DON</a></li>
           <li><a href="pro-aqua-solmin.php">SOLMIN</a></li>
        </ul>
           </div>
            <div class="col-md-6 paddinglft">
            <ul class="quick_links quick_links1">
              <li><a href="pro-aqua-oxcee-tab.php">OXCEE TAB</a></li>         
              <li><a href="pro-aqua-prostin.php">PRO - STIN</a></li>   
              <li><a href="pro-aqua-strange-min.php">Strange Min</a></li>         
              <li><a href="pro-aqua-stranfix.php">STRANFIX GEL</a></li>
              <li><a href="pro-antilds.php">ANTIL-DS</a></li>
              <li><a href="aqua-products-calfyn.php">CALFYN</a></li>
            </ul>
            </div>
          </div>
        </div>
				<div class="col-md-2">
					<ul class="quick_links">
          <li><a href="newproducts.php"><span>New Products</span></a></li>
          <li><a href="#"><span>Media</span></a></li>
          <li><a href="#">Images</a></li>
          <!--<li><a href="#">Videos</a></li>-->
          
         
        </ul>
				</div>
			</div>

		</div>	
	</div>
</footer>
<div class="bottom-footer">
  <div class="container">
      <div class="col-md-6 text-left">
       <p>© 2018 Gentils Organics (P). LTD. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Designed & Developed by <a href="http://www.syntizen.com/" target="_blank">Syntizen Technologies (P). LTD.</a></p>
      </div>
    </div>
  </div>  

 </body>
 
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</html>