
<!DOCTYPE html>
<html>
<head>
  <title>Welcome to app.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/gentil.css">
  <link href="images/brands/short.png" rel="icon" />

</head>
 <body>


<header>
   <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="logo">
        <a href="home"><img src="images/logo2.png" alt="Gentils Orgonics (P).Ltd." name="Gentils Orgonics (P) Ltd"></a>
      </div>  
    </div>
   
    <div class="col-md-8 col-xs-12">
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul  class="nav navbar-nav navbar-right">
        <li class=""><a id="nav" href="/home">Home</a></li>
        <li><a id="nav1" href="/about-us">About Us</a></li>
         <li><a id="nav2" href="/our-products">Products</a></li>
         <li><a id="nav3" href="/technology">Technology</a></li>
        <li><a id="nav4" href="/quality"> Quality</a></li>
        <li><a id="nav5" href="/contact-us"> Contact Us</a></li>
      </ul>   
    </div>
  </div>
   
  </div>
  </div>

</header>
<!--///////////////////////////////////header//inn////////////////////////////// -->
<div class="inn-banner">
   <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="banner-inn-pro">
          
           <h1></h1>
           <!--<p>Our extensive high-quality product range that includes Products list</p>-->
         </div>
        </div>
      </div>
   </div>
</div>
 
<div class="inn-products">
   <div class="container">
     <div class="row">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/gentc.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>GENT - C</h3>
        <p>Vitamin C increases resistance to infection it increases resistance
   to stress it increases resistance to diseases and mortality.</p>
         <a class="read" href="pro-aqua-astroplex-c.php">Read More</a>
        </div>
       </div>


      <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/jetreen.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Jetreen</h3>
       <p> B.coagulans, L.acidophillus,L.casel, B.longum, S.faecails along with Phytase, Protease, Amylase,
   Xynalase and aminoacids.</p>
         <br/>
         <a class="read" href="pro-aqua-jetreen.php">Read More</a>
        </div>
       </div>


     </div>

     <div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/lynpro.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>LYNPRO - PS</h3>
        <p>In Aquaculture a variety of organic wastes is generated. As the cultured animal lives in the pond, resulting in generation of organic wastes.</p>
         <a class="read" href="pro-aqua-prolyn.php">Read More</a>
        </div>
       </div>


      <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/staymin.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Stay Min</h3>
        <p>STAY MIN is a combination of micro & mocro nutrients in high concentrated minerals,STAY MIN is a essential digestible soluble in water.</p>
         <a class="read" href="pro-aqua-stay-min.php">Read More</a>
        </div>
       </div>



     </div>
      <div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/prostin.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Pro - stin</h3>
        <p>prostin is a unique combination of probiotic.Prostin is a combination of B.Licheniformis, B.Megaterium, Nitrosomonas,Nitrobacter.</p>
         <a class="read" href="pro-aqua-prostin.php">Read More</a>
        </div>
       </div>


      <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/neodonn.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Neo-Don</h3>
        <p>Nonyl Alkyl Phenoxy Poly Etheylene Oxide Jodin complex, Providng available iodine 20%</p>
        <br/>
        <br/>
         <a class="read" href="pro-aqua-neodin.php">Read More</a>
        </div>
       </div>

     </div>
 <div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/noimage.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>solmin</h3>
        <p>Develops high stamina against viral diseases reduces bacterial infections improves growth rate and make fish healthy and shiny shell.</p>
         <a class="read" href="pro-aqua-solmin.php">Read More</a>
        </div>
       </div>
      
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/stranfix.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Stranfix - Gel</h3>
        <p>For consistent Performance & Increased Profitability</p>
       <br/>
       <br/>
       <br/>
         <a class="read" href="pro-aqua-stranfix.php">Read More</a>
        </div>
       </div>
     </div>
 <div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/noimage.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Strange Min</h3>
        <p>A combination of minerals for better growth soil and water conditioner.</p>
         <a class="read" href="pro-aqua-strange-min.php">Read More</a>
        </div>
       </div>
      
      <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/oxcee.png" alt="Gentils Organics">
        </div>
       </div>
      <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>OXCEE - TAB</h3>
       <p>Oxygen Releasing Tablets for aqua Culture Pond</p>
         <br/>
          <br/>
         <a class="read" href="pro-aqua-oxcee-tab.php">Read More</a>
        </div>
       </div>
       </div>

<div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/antil.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>ANTIL - DS</h3>
        <p>Effective against a wide range of pathogens, Taura Syndrome Virus
(TSV), White Spot Syndrome Virus (WSSV) and Vibrio SPP</p>
         <br/>
          <br/>
         <a class="read" href="pro-antilds.php">Read More</a>
        </div>
       </div>
      
      <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/sowja.png" alt="Gentils Organics">
        </div>
       </div>
      <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>SOWJA G</h3>
        <p>Granulated probiotics and zeolite for comprehensive pond care</p>
         <br/>
          <br/>
         <a class="read" href="pro-aqua-sowja.php">Read More</a>
        </div>
       </div>
       </div>
<div class="row paddingtp">
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/calfyn.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Calfyn</h3>
        <p>Feed Supliment of Highly Stable Minerals</p>
         <br/>
        <br/>
         <br/>
          <br/>
         <a class="read" href="aqua-products-calfyn.php">Read More</a>
        </div>
       </div>
      
       <div class="col-md-3 paddingrgt">
        <div class="product_img text-center">
          <img src="images/brands/softner.png" alt="Gentils Organics">
        </div>
       </div>
       <div class="col-md-3 paddinglft">
         <div class="product_div">
        <h3>Softner</h3>
        <p>Aqua Culture</p>
        <P>EDTA :</P>
<P>Laboratory Reagent, EDTA By Sodium Salt, Dehydrate For Aqua Culture</P>
        <br/>
         <a class="read" href="aqua-products-softner.php">Read More</a>
        </div>
       </div>
      
       </div>



   </div>
</div>









<div class="contact">
  <div class="container">
     <div class="col-md-12">
       <p>Get in touch, we're always standing by and eager to help you.</p>
       <a href="contact-us.php">Contact Us Now</a>
     </div>
  </div>
</div>




<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
        <div class="col-md-3">
          <div class="ft-logo">
          <img src="images/logo-ft.png" alt="Gentils Organics (P). LTD.">
        </div>
        </div>
				<div class="col-md-2">
          <ul class="quick_links">
          <li><a href="#"><span>Profile</span></a></li>
          <li><a href="about-us.php">About Us</a></li>
          <li><a href="our-products.php">Products</a></li>
          <li><a href="technology.php">Technology</a></li>
          <li><a href="quality.php">Quality</a></li>
          <li><a href="contact-us.php">Contact Us</a></li>            
          <!--<li><a href="#why">Why Us</a></li>
          <li><a href="#certi">Certificates</a></li>-->
        </ul>
					
				</div>
        <div class="col-md-5 quick_links">
          <div class="col-md-12">
            <div class="text-left">
            <span>Our Products</span>
          </div>
            <div class="col-md-3 paddinglft">
          <ul class="quick_links quick_links1">
         <!-- <li><a href="our-products.html"><span>Our Products</span></a></li>-->
          <li><a href="pro-aqua-astroplex-c.php">GENT - C</a></li>
          <li><a href="pro-aqua-Jetreen.php">Jetreen</a></li>
          <li><a href="pro-aqua-prolyn.php">LYNPRO - PS</a></li>
          <li><a href="pro-aqua-stay-min.php">STAY - MIN</a></li>           
          <li><a href="pro-aqua-neodin.php">NEO DON</a></li>
           <li><a href="pro-aqua-solmin.php">SOLMIN</a></li>
        </ul>
           </div>
            <div class="col-md-6 paddinglft">
            <ul class="quick_links quick_links1">
              <li><a href="pro-aqua-oxcee-tab.php">OXCEE TAB</a></li>         
              <li><a href="pro-aqua-prostin.php">PRO - STIN</a></li>   
              <li><a href="pro-aqua-strange-min.php">Strange Min</a></li>         
              <li><a href="pro-aqua-stranfix.php">STRANFIX GEL</a></li>
              <li><a href="pro-antilds.php">ANTIL-DS</a></li>
              <li><a href="aqua-products-calfyn.php">CALFYN</a></li>
            </ul>
            </div>
          </div>
        </div>
				<div class="col-md-2">
					<ul class="quick_links">
          <li><a href="newproducts.php"><span>New Products</span></a></li>
          <li><a href="#"><span>Media</span></a></li>
          <li><a href="#">Images</a></li>
          <!--<li><a href="#">Videos</a></li>-->
          
         
        </ul>
				</div>
			</div>

		</div>	
	</div>
</footer>
<div class="bottom-footer">
  <div class="container">
      <div class="col-md-6 text-left">
      </div>
      <div class="col-md-6 text-right">
      </div>
    </div>
  </div>  

 </body>
 
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</html>